################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VMNS/FileContentIndex/6598c3a3-ce9e-454a-9322-043c7b88f383.vsidx
/.vs/VMNS/FileContentIndex/531e803a-7b76-44f2-86a1-6720022ab011.vsidx
/.vs/VMNS/FileContentIndex/e2e4c9e5-5a98-450c-8bde-3de0ab15e7d4.vsidx
/.vs/VMNS/FileContentIndex/0063c6fe-d154-4f9c-83aa-0870c2e46c19.vsidx
/.vs/VMNS/FileContentIndex/13e4f597-de1c-4ebc-8e46-c380b4902f3a.vsidx
/.vs/VMNS/FileContentIndex/6db2cfad-04cb-4818-a0ac-c74f5f554bc2.vsidx
/.vs/VMNS/FileContentIndex/bb612421-2a03-4433-b1c7-d47ece76b726.vsidx
/.vs/VMNS/FileContentIndex/631d5cc1-9210-4a3e-8e73-79ac3c2085e1.vsidx
/.vs/VMNS/FileContentIndex/ed1f1a18-dcac-48ea-baac-0526b61e1e8d.vsidx
/.vs/VMNS/FileContentIndex/f312e6af-65e9-4561-a991-e7fb37c417ee.vsidx
