################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VMNS/FileContentIndex/6598c3a3-ce9e-454a-9322-043c7b88f383.vsidx
