################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VMNS/FileContentIndex/6598c3a3-ce9e-454a-9322-043c7b88f383.vsidx
/.vs/VMNS/FileContentIndex/531e803a-7b76-44f2-86a1-6720022ab011.vsidx
/.vs/VMNS/FileContentIndex/e2e4c9e5-5a98-450c-8bde-3de0ab15e7d4.vsidx
/.vs/VMNS/FileContentIndex/0063c6fe-d154-4f9c-83aa-0870c2e46c19.vsidx
/.vs/VMNS/FileContentIndex/13e4f597-de1c-4ebc-8e46-c380b4902f3a.vsidx
/.vs/VMNS/FileContentIndex/6db2cfad-04cb-4818-a0ac-c74f5f554bc2.vsidx
/.vs/VMNS/FileContentIndex/bb612421-2a03-4433-b1c7-d47ece76b726.vsidx
/.vs/VMNS/FileContentIndex/631d5cc1-9210-4a3e-8e73-79ac3c2085e1.vsidx
/.vs/VMNS/FileContentIndex/ed1f1a18-dcac-48ea-baac-0526b61e1e8d.vsidx
/.vs/VMNS/FileContentIndex/f312e6af-65e9-4561-a991-e7fb37c417ee.vsidx
*.vsidx
/.vs/VMNS/v17/.suo
/.vs/VMNS/v17/.futdcache.v2
/.vs/VMNS/v17/DocumentLayout.json
/.vs/VMNS/v17/fileList.bin
*.json
/VMNS/bin/Debug/net6.0/VMNS.dll
/VMNS/bin/Debug/net6.0/VMNS.exe
/VMNS/bin/Debug/net6.0/VMNS.pdb
/VMNS/obj/Debug/net6.0/ref/VMNS.dll
/VMNS/obj/Debug/net6.0/apphost.exe
/VMNS/obj/Debug/net6.0/project.razor.vs.bin
/VMNS/obj/Debug/net6.0/refint/VMNS.dll
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfo.cs
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfoInputs.cache
/VMNS/obj/Debug/net6.0/VMNS.dll
/VMNS/obj/Debug/net6.0/VMNS.pdb
/VMNS/obj/Debug/net6.0/VMNS.sourcelink.json
/.vs/VMNS/DesignTimeBuild
/.vs/ProjectEvaluation/vmns.metadata.v7.bin
/.vs/ProjectEvaluation/vmns.projects.v7.bin
/.vs/VMNS/DesignTimeBuild/.dtbcache.v2
/VMNS/obj/Debug/net6.0/staticwebassets.build.json
/VMNS/obj/Debug/net6.0/staticwebassets.development.json
/VMNS/obj/Debug/net6.0/staticwebassets.pack.json
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfo.cs
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfoInputs.cache
/VMNS/obj/Debug/net6.0/VMNS.assets.cache
/VMNS/obj/Debug/net6.0/VMNS.csproj.AssemblyReference.cache
/VMNS/obj/Debug/net6.0/VMNS.csproj.CoreCompileInputs.cache
/VMNS/obj/Debug/net6.0/VMNS.GeneratedMSBuildEditorConfig.editorconfig
/VMNS/obj/Debug/net6.0/VMNS.genruntimeconfig.cache
/VMNS/obj/Debug/net6.0/VMNS.pdb
/VMNS/obj/Debug/net6.0/VMNS.sourcelink.json
/VMNS/obj/project.assets.json
/VMNS/obj/project.nuget.cache
/VMNS/obj/VMNS.csproj.nuget.dgspec.json
/VMNS/obj/VMNS.csproj.nuget.g.props
/.gitignore
/VMNS/appsettings.json
/.gitignore
/VMNS/bin/Debug/net6.0
/VMNS/bin/Debug/net6.0/project.razor.vscode.bin
/VMNS/obj/Debug/net6.0/ref/VMNS.dll
/VMNS/obj/Debug/net6.0/apphost.exe
/VMNS/obj/Debug/net6.0/refint/VMNS.dll
/VMNS/obj/Debug/net6.0/staticwebassets.build.json
/VMNS/obj/Debug/net6.0/staticwebassets.development.json
/VMNS/obj/Debug/net6.0/staticwebassets.pack.json
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfo.cs
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfoInputs.cache
/VMNS/obj/Debug/net6.0/VMNS.assets.cache
/VMNS/obj/Debug/net6.0/VMNS.dll
/VMNS/obj/Debug/net6.0/VMNS.genruntimeconfig.cache
/VMNS/obj/Debug/net6.0/VMNS.pdb
/VMNS/obj/Debug/net6.0/VMNS.sourcelink.json
/VMNS/obj/project.assets.json
/VMNS/obj/project.nuget.cache
/VMNS/obj/VMNS.csproj.nuget.dgspec.json
/VMNS/appsettings.json
/.vs/VMNS/DesignTimeBuild/.dtbcache.v2
/VMNS/obj/Debug/net6.0/VMNS.csproj.FileListAbsolute.txt
/VMNS/obj/Debug/net6.0/project.razor.vs.bin.temp
/VMNS/obj/Debug/net6.0/project.razor.vs.bin
/VMNS/obj/Debug/net6.0/VMNS.GeneratedMSBuildEditorConfig.editorconfig
/VMNS/obj/Debug/net6.0/VMNS.dll
/VMNS/obj/Debug/net6.0/VMNS.pdb
/VMNS/obj/Debug/net6.0/VMNS.sourcelink.json
/VMNS/obj/Debug/net6.0/ref/VMNS.dll
/VMNS/obj/Debug/net6.0/apphost.exe
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfo.cs
/VMNS/obj/Debug/net6.0/ref/VMNS.dll
/VMNS/obj/Debug/net6.0/refint/VMNS.dll
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfoInputs.cache
/VMNS/obj/Debug/net6.0/VMNS.pdb
/VMNS/obj/Debug/net6.0/ref/VMNS.dll
/VMNS/obj/Debug/net6.0/staticwebassets/msbuild.VMNS.Microsoft.AspNetCore.StaticWebAssets.props
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfo.cs
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfoInputs.cache
/VMNS/obj/Debug/net6.0/VMNS.dll
/VMNS/obj/Debug/net6.0/refint/VMNS.dll
/VMNS/obj/Debug/net6.0/apphost.exe
/VMNS/obj/Debug/net6.0/VMNS.pdb
/VMNS/obj/Debug/net6.0/VMNS.sourcelink.json
/VMNS/Migrations/20240705091647_newColumns.cs
/VMNS/Migrations/20240705091647_newColumns.Designer.cs
/VMNS/Migrations/ApplicationDbContextModelSnapshot.cs
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfo.cs
/VMNS/obj/Debug/net6.0/VMNS.AssemblyInfoInputs.cache
/VMNS/obj/Debug/net6.0/VMNS.dll
/VMNS/obj/Debug/net6.0/VMNS.pdb
/VMNS/obj/Debug/net6.0/VMNS.sourcelink.json
/VMNS/obj/Debug/net6.0/ref/VMNS.dll
/VMNS/obj/Debug/net6.0/apphost.exe
/VMNS/obj/Debug/net6.0/refint/VMNS.dll
/VMNS/obj/Debug/net6.0/staticwebassets/msbuild.VMNS.Microsoft.AspNetCore.StaticWebAssets.props
/VMNS/obj/Debug/net6.0/refint/VMNS.dll
/VMNS/obj/Debug/net6.0/apphost.exe
/VMNS/obj/Debug/net6.0/ref/VMNS.dll
/VMNS/wwwroot/uploads/A7B344CD-65BC-4823-8D11-2E0E95B4DCD3/hilux_blueprint.png
/VMNS/VMNS.csproj.user
