@model VMNS.Models.Maintenance

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Body.cshtml";
}
<form asp-action="Delete">
    <div class="row mt-3">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreatorId" />
        <input type="hidden" asp-for="ModifierId" />
        <input type="hidden" asp-for="DateCreated" />
        <input type="hidden" asp-for="DateModified" />

        <div class="col-md-6 col-sm-4 col-6 my-auto">
            <h2><i class="ri-tools-fill text-lra-primary"></i> Delete Maintenance Record</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-6  my-auto  position-relative">
            <div class="float-end">
                <a asp-area="" asp-controller="Maintenances" asp-action="Index" class="btn btn-sm text-capitalize bg-white rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
                @* <button type="submit" class="btn btn-sm  text-white text-capitalize bg-lra-danger rounded "><i class="ri-delete-bin-7-line"></i> Delete</button> *@
                <button type="button" class="btn btn-sm text-capitalize bg-lra-danger rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="ri-delete-bin-7-line"></i> Delete</button>
            </div>
        </div>
        <div class="col-12">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="col-12 bg-white box-lra-shadow rounded p-4">
        <div class="col-lg-7 col-sm-7 col-12">
            <div class="row">
                <div class="col-lg-6 col-12 mb-4">
                    <div class="input-group">
                        <div class="custom-input w-100">
                            <input type="text"
                                       value="@Html.DisplayFor(model => model.Vehicle.PlateNo)"
                                   id="targetValue"
                                   class="form-control"
                                   required
                                   readonly
                                   pattern="\S+.*" />
                                <div class="input-text"><label asp-for="Vehicle.PlateNo"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="VehicleId" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-12 mb-4">
                    <div class="input-group">
                        <div class="custom-input w-100">
                            <input type="date"
                                   asp-for="DateChecked"
                                   id="targetValue"
                                   class="form-control"
                                   required
                                   readonly
                                   pattern="\S+.*" />
                            <div class="input-text"><label asp-for="DateChecked"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="DateChecked" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-12 ">
                    <div class="input-group">
                        <div class="custom-input w-100">
                            <input type="text"
                                   asp-for="Mileage"
                                   id="targetValue"
                                   class="form-control"
                                   required
                                   readonly
                                   pattern="\S+.*" />
                            <div class="input-text"><label asp-for="Mileage"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-12 ">
                    <div class="input-group">
                        <div class="custom-input w-100">
                            <input type="text"
                                   asp-for="Remarks"
                                   id="targetValue"
                                   class="form-control"
                                   required
                                   readonly
                                   pattern="\S+.*" />
                            <div class="input-text"><label asp-for="Remarks"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
            </div>
        </div>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Delete" class="row">
                    <input type="hidden" asp-for="Id" />
                    <div class="col-12 mb-4">
                        <p>To proceed deleting this data. Please type <strong id="confirmValue"></strong>.</p>
                        <div class="input-group" id="">
                            <div id="" class="custom-input w-100">
                                <input type="text"
                                       id="confirmInput"
                                       class="form-control"
                                       required
                                       pattern="\S+.*" />
                                <div class="input-text"><label>Confirmation</label></div>
                            </div>
                        </div>
                        <span><small>Note: This will be remove permanently.</small></span>
                    </div>
                    <div class="col-12">
                        <button type="submit" value="Delete" class="btn btn-danger text-capitalize" disabled id="confirmDelete">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        const confirmValue = document.querySelector('#confirmValue');
        const confirmInput = document.querySelector('#confirmInput');
        const btnTrigger = document.querySelector('#confirmDelete')
        confirmValue.innerText = `Proceed to delete`

        confirmInput.addEventListener('change', e => {
            console.log(e.target.value)
            if (e.target.value === confirmValue.innerText) {
                btnTrigger.removeAttribute('disabled')
            }
            else {
                btnTrigger.setAttribute('disabled', '')
            }
        })
    </script>
}

