@model VMNS.Models.Monitoring

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Body.cshtml";
}
<form class="row mt-3" asp-action="Create">
    <div class="col-md-6 col-sm-4 col-6 my-auto">
        <h2><i class="ri-oil-fill text-lra-primary"></i> Monitoring</h2>
    </div>
    <div class="col-md-6 col-sm-6 col-6  my-auto  position-relative">
        <div class="float-end">
            <a asp-area="" asp-controller="Maintenances" asp-action="Details" asp-route-Id=@ViewData["MaintenanceId"] class="btn btn-sm text-capitalize bg-white box-lra-shadow rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
            <button asp-action="Create" type="submit" class="btn btn-sm text-white text-capitalize bg-lra-primary box-lra-shadow rounded "><i class="ri-save-line"></i> Save</button>
        </div>
    </div>
    <div class="col-12">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="row bg-white box-lra-shadow rounded d-flex justify-content-center pt-4">
        <div class="col-lg-7 col-sm-7 col-12">
        <div class="row">
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <select asp-for="ReplacementId" class="form-control" asp-items="ViewBag.ReplacementId"></select>
                        <div class="input-text"><label>Replacement parts</label></div>
                    </div>
                </div>
                <span asp-validation-for="ReplacementId" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               asp-for="CurrentKM"
                               id=""
                               class="form-control"
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="CurrentKM"></label></div>
                    </div>
                </div>
                <span asp-validation-for="CurrentKM" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               asp-for="LifeSpan"
                               id=""
                               class="form-control"
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="LifeSpan"></label></div>
                    </div>
                </div>
                <span asp-validation-for="LifeSpan" class="text-danger"></span>
            </div>
            <div class="col-lg-6 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="date"
                               asp-for="DateAcquired"
                               id="insuranceDate"
                               class="form-control"
                               required
                               pattern="\S+.*" />
                        <div class="input-text"><label>Aquired date</label></div>
                    </div>
                </div>
                <span asp-validation-for="DateAcquired" class="text-danger"></span>
            </div>
        </div>
    </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<partial name="_ValidationScriptsPartial" />*@
}
