@model VMNS.Models.Monitoring

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Body.cshtml";
}
<form asp-action="Edit">
    <div class="row">
        <input type="hidden" asp-for="Id" />
        <div class="col-md-6 col-sm-4 col-6 my-auto">
            <h2>Battery Performance</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-6  my-auto py-3 position-relative">
            <div class="float-end">
                <a asp-area="" asp-controller="Maintenances" asp-action="Details" asp-route-Id=@ViewData["MaintenanceId"] class="btn btn-sm text-capitalize border rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
                <button type="submit" class="btn btn-sm bg-dark text-white text-capitalize border rounded "><i class="ri-save-line"></i> Save</button>
            </div>
        </div>
        <div class="col-12">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="text"
                   asp-for="MaintenanceId"
                   id=""
                   class="form-control"
                   required
                   readonly
                   hidden
                   pattern="\S+.*" />
        </div>
        <div class="col-lg-7 col-sm-7 col-12">
            <div class="row">
                
                <div class="col-lg-6 col-12 mb-4">
                    <div class="input-group" id="">
                        <div id="" class="custom-input w-100">
                            <select asp-for="ReplacementId" class="form-control" asp-items="ViewBag.ReplacementId"></select>
                            <div class="input-text"><label asp-for="ReplacementId"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="ReplacementId" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-12 mb-4">
                    <div class="input-group" id="">
                        <div id="" class="custom-input w-100">
                            <input type="text"
                                   asp-for="CurrentKM"
                                   id=""
                                   class="form-control"
                                   pattern="\S+.*" />
                            <div class="input-text"><label asp-for="CurrentKM"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="CurrentKM" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-12 mb-4">
                    <div class="input-group" id="">
                        <div id="" class="custom-input w-100">
                            <input type="text"
                                   asp-for="LifeSpan"
                                   id=""
                                   class="form-control"
                                   pattern="\S+.*" />
                            <div class="input-text"><label asp-for="LifeSpan"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="LifeSpan" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-12 mb-4">
                    <div class="input-group" id="">
                        <div id="" class="custom-input w-100">
                            <input type="date"
                                   asp-for="DateAcquired"
                                   id="insuranceDate"
                                   class="form-control "
                                   required
                                   pattern="\S+.*" />
                            <div class="input-text"><label>Aquired date</label></div>
                        </div>
                    </div>
                    <span asp-validation-for="DateAcquired" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

