<header class="page-header page-header-dark bg-gradient-primary  pb-10">
    <div class="container-fluid pl-5 pr-5">
        <div class="page-header-content pt-4 pb-5">
            <div class="row align-items-center justify-content-between pb-5">
                <div class="col-auto">
                    <h1 class="page-header-title d-flex">
                        <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg></div>
                       Users
                    </h1>
                    <div class="page-header-subtitle"></div>
                </div>
               
            </div>
        </div>
    </div>
</header>