@model VMNS.Models.lu_Office

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Body.cshtml";
}
<form class="row mt-3" asp-action="Create">
    <div class="col-md-6 col-sm-4 col-6 my-auto">
        <h2><i class="ri-building-2-line icon text-lra-primary"></i>  Add Office</h2>
    </div>
    <div class="col-md-6 col-sm-6 col-6  my-auto position-relative">
        <div class="float-end">
            <a asp-area="" asp-controller="lu_Office" asp-action="Index" class="btn btn-sm text-capitalize bg-white box-lra-shadow  rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
            <button asp-action="Create" type="submit" class="btn btn-sm text-white text-capitalize bg-lra-primary box-lra-shadow rounded "><i class="ri-save-line"></i> Save</button>
        </div>
    </div>
    <div class="col-12">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="row px-3 bg-white box-lra-shadow rounded">
        <div class="col-lg-7 col-sm-7 col-12 pt-3">
            <div class="row">
                <div class="col-lg-6 col-12 mb-4">
                    <div class="input-group" id="">
                        <div id="" class="custom-input w-100">
                            <input type="text"
                                   asp-for="OfficeCode"
                                   id=""
                                   class="form-control"
                                   required
                                   pattern="\S+.*" />
                            <div class="input-text"><label asp-for="OfficeCode"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="OfficeCode" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-12 mb-4">
                    <div class="input-group" id="">
                        <div id="" class="custom-input w-100">
                            <input type="text"
                                   asp-for="OfficeName"
                                   id=""
                                   class="form-control"
                                   required
                                   pattern="\S+.*" />
                            <div class="input-text"><label asp-for="OfficeName"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="OfficeName" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
