@model VMNS.Models.Vehicle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Body.cshtml";
    var data = (IEnumerable<Maintenance>)ViewData["Maintenance"];

}
<div class="row">
    <div class="col-md-6 col-sm-4 col-6 my-auto">
        <h2>Vehicle History</h2>
    </div>
    <div class="col-md-6 col-sm-6 col-6  my-auto py-3 position-relative">
        <div class="float-end">
            <a asp-area="" asp-controller="Vehicles" asp-action="Index" class="btn btn-sm text-capitalize border rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
            <a asp-area="" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm bg-dark text-white text-capitalize border rounded "><i class="ri-edit-box-line"></i> Edit</a>
        </div>
    </div>
    <div class="col-12">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="col-lg-7 col-sm-7 col-12">
        <div class="row px-1">
            <div class="col-lg-4 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               asp-for="Brand"
                               id="targetValue"
                               class="form-control"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="Brand"></label></div>
                    </div>
                </div>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="col-lg-4 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               asp-for="Model"
                               id="targetValue"
                               class="form-control"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="Model"></label></div>
                    </div>
                </div>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="col-lg-4 col-12 mb-4">
                <div class="input-group" id="">
                    <div id="" class="custom-input w-100">
                        <input type="text"
                               asp-for="PlateNo"
                               id="targetValue"
                               class="form-control"
                               required
                               readonly
                               pattern="\S+.*" />
                        <div class="input-text"><label asp-for="PlateNo"></label></div>
                    </div>
                </div>
                <span asp-validation-for="PlateNo" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>


<div class="row px-3">
    <div class="col-12 border rounded p-3">
        <table class="custom-table table table-hover" id="myTable" width="100%" cellspacing="0" data-page-length='10'>
            <thead class="table-primary">
                <tr>
                    <th>
                        Mileage
                    </th>
                    <th>Last Checked</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in data)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mileage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateChecked)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
