@model VMNS.Models.Replacement

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Body.cshtml";
}
<form class="row mt-3" asp-action="Create">
    <div class="col-md-6 col-sm-4 col-6 my-auto">
        <h2><i class="ri-loop-left-line text-lra-primary"></i> Add Change Interval</h2>
    </div>
    <div class="col-md-6 col-sm-6 col-6  my-auto position-relative">
        <div class="float-end">
            <a asp-area="" asp-controller="Replacements" asp-action="Index" class="btn btn-sm text-capitalize bg-white box-lra-shadow rounded"><i class="ri-arrow-go-back-line"></i> Go Back</a>
            <button asp-action="Create" type="submit" class="btn btn-sm  text-white text-capitalize bg-lra-primary box-lra-shadow rounded "><i class="ri-save-line"></i> Save</button>
        </div>
    </div>
    <div class="col-12">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="row px-3 bg-white box-lra-shadow rounded">
        <div class="col-lg-7 col-sm-7 col-12 pt-4">
            <div class="row">
                <div class="col-lg-6 col-12 mb-4">
                    <div class="input-group" id="">
                        <div id="" class="custom-input w-100">
                            <input type="text"
                                   asp-for="Parts"
                                   id=""
                                   class="form-control"
                                   required
                                   pattern="\S+.*" />
                            <div class="input-text"><label asp-for="Parts"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="Parts" class="text-danger"></span>
                </div>
                <div class="offset-lg-6"></div>
                <div class="col-lg-6 col-12 mb-4">
                    <div class="input-group" id="">
                        <div id="" class="custom-input w-100">
                            <input type="text"
                                   asp-for="DurationInKM"
                                   id=""
                                   class="form-control"
                                   required
                                   pattern="\S+.*" />
                            <div class="input-text"><label asp-for="DurationInKM"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="DurationInKM" class="text-danger"></span>
                </div>
                <div class="offset-lg-6"></div>
                <div class="col-lg-6 col-12 mb-4">
                    <div class="input-group" id="">
                        <div id="" class="custom-input w-100">
                            <input type="text"
                                   asp-for="DurationInDays"
                                   id=""
                                   class="form-control"
                                   required
                                   pattern="\S+.*" />
                            <div class="input-text"><label asp-for="DurationInDays"></label></div>
                        </div>
                    </div>
                    <span asp-validation-for="DurationInDays" class="text-danger"></span>
                </div>
                <div class="offset-lg-6"></div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<partial name="_ValidationScriptsPartial" />*@
}
