@{
    Layout = "~/Views/Shared/_Body.cshtml";

}

<div class="row">
    <div class="col-md-6 col-sm-4 col-6 my-auto">
        <h2>Motorpool Dashboard</h2>
    </div>
</div>

<div class="row">
    
    <div class="col-lg-3 col-md-6 col-sm-6 col-12  mb-4">
        <div class="border rounded p-3">
            <div class="d-flex justify-content-between align-items-center">
                <strong>Vehicles</strong>
                <span><i class="ri-roadster-line dashboard-icon"></i></span>
            </div>
            <div>
                <h1 class="fw-bolder text-break  m-0">@ViewBag.TotalVehicles</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12  mb-4">
        <div class="border rounded p-3">
            <div class="d-flex justify-content-between align-items-center">
                <strong>Users</strong>
                <span><i class="ri-user-3-line dashboard-icon"></i></span>
            </div>
            <div>
                <h1 class="fw-bolder text-break m-0">@ViewBag.MotorpoolOfficer</h1>
            </div>
        </div>
    </div>

       
 </div>  


@section Scripts {
   
        
     



    </script>
}
